{{define "base" -}}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{block "title" .}}Storj3 stat{{end}}</title>
		<link href="/css/main.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="header">
			<a class="logo" href="/">
				<div class="logo-main">Storj Net Info</div>
				<div class="logo-sub">Статистика сети v3</div>
			</a>
			<form class="nodes-search" method="GET" action="/search">
				<input type="text" name="q" placeholder="Поиск нод по ID">
				<input type="submit" value="🔍">
			</form>
		</div>
		</div>
		<div class="content">
			{{block "content" .}}...{{end}}
		</div>
		<div class="footer">
			По багам, фичам и вообще писать можно в
			<a href="tg://zblzgamer">tg://zblzgamer</a> или на
			<a href="mailto:zblzgamer@yandex.ru">zblzgamer@yandex.ru</a>
		</div>
		<script type="module" src="/js/main.js"></script>
		{{block "local_html_content" .}}{{end}}
	</body>
</html>
{{ end }}