{{define "title"}}
Storj Net Info
{{end}}

{{define "content"}}

{{if .User}}
<p>
	<a href="/~">{{.L.Loc "My nodes" "ru" "Мои ноды"}}</a>
</p>
{{else}}
<p class="auth-forms"></p>
{{end}}
<p>
	<a href="/ping_my_node">{{.L.Loc "Ping nodes" "ru" "Попинговать ноды"}}</a>
	{{.L.Loc "by ID and address" "ru" "по айди и адресу"}}.
</p>
<p>
	<a href="/neighbors">{{.L.Loc "Count neighbors" "ru" "Посчитать соседей"}}</a>
	{{.L.Loc "on /24-subnet" "ru" "в /24-подсети"}}.
</p>

<br>

<div class="rewind-control"></div>

<script id="sat_nodes_data" type="application/json">{{.SatNodes}}</script>
<div class="sat-nodes"></div>

<div class="storj-tx-summary"></div>

<div class="nodes-count-chart"></div>

<div class="nodes-location-summary"></div>

{{end}}