{{define "title"}}{{.NodeIDStr}}{{end}}

{{define "node_id_info"}}
<p class="node-id-info">
	<b>Айди в base58:</b> {{.String}}<br>
	<b>Айди в HEX:</b> {{nodeIDHex .}}<br>
	<b>Айди побитно:</b> {{nodeIDBin .}}<br>
	<b>Сложность:</b> {{.Difficulty}}
</p>
{{end}}

{{define "content"}}
<h1 class="node-id">
	{{.NodeIDStr}}
</h1>

{{if .NodeIDIsInvalid}}
<p>
	Неправильный ID ноды, ошибка: <code>{{.NodeIDDecodeErr}}</code>
</p>
<p>
	Идентификатор должен быть в виде base58-сроки (например
	<code>118UWpMCHzs6CvSgWd9BfFVjw5K9pZbJjkfZJexMtSkmKxvvAW</code>).
</p>
{{else if .NodeIDNotFound}}
<p>
	Такого айди нет в базе статистики. Возможно, эта нода — новая, и не вся сеть ещё о ней знает?
</p>
{{template "node_id_info" .Node.ID}}
{{else}}

{{template "node_id_info" .Node.ID}}

<h2>Месячный аптайм</h2>
<div class="month-chart" data-kind="node-activity-chart"></div>
{{if .MonthHistory.LastSelfParamsError}}
<p>
	Последняя ошибка: <code>{{.MonthHistory.LastSelfParamsError}}</code>
</p>
{{end}}
{{if not .MonthHistory.ActivityStamps}}
Данных пока нет.
{{end}}

<h2>Изменения данных</h2>
<div class="month-chart" data-kind="node-data-history-chart"></div>
<div class="month-chart" data-kind="node-data-history-coeff-chart"></div>

<h2>Местоположение</h2>
<p class="dim small">по базе GeoIP</p>
<p>
	{{if .Node.Location}}
	{{$lon := .Node.Location.Longitude}}
	{{$lat := .Node.Location.Latitude}}
	<a target="_blank" href="https://yandex.ru/maps/?ll={{$lon}},{{$lat}}&z=6&pt={{$lon}},{{$lat}}">
		<img width=432 height=300 title="Yandex map static image"
			src="https://static-maps.yandex.ru/1.x/?ll={{$lon}},{{$lat}}&size=648,450&z=6&l=map&scale=1.5&pt={{$lon}},{{$lat}},comma">
	</a>
</p>
<p>
	{{.Node.Location.Country}},
	{{if .Node.Location.City}}{{.Node.Location.City}},{{end}}
	{{$lat}}, {{$lon}}
	{{else}}
	Определить не удалось.
	{{end}}
</p>

<h2>Параметры ноды (из Kademlia)</h2>
{{if .Node.KadParams}}
<pre>{{formattedJSON .Node.KadParams}}</pre>
<span class="dim small">
	обновлено {{formatDateTime .Node.KadUpdatedAt .Lang}}, {{ago .Node.KadUpdatedAt .Lang}} назад
</span>
{{else}}
Нет данных (нода ещё не была найдена в DHT).
{{end}}

<h2>Параметры ноды (запрошенные напрямую)</h2>
{{if .Node.SelfParams}}
<pre>{{formattedJSON .Node.SelfParams}}</pre>
<span class="dim small">
	обновлено {{formatDateTime .Node.SelfUpdatedAt .Lang}}, {{ago .Node.SelfUpdatedAt .Lang}} назад
</span>
{{else}}
Нет данных (пока не получилось связаться с нодой).
{{end}}

<script>
	var nodeActivityStamps = {{.MonthHistory.ActivityStamps}}
	var freeDataItems = {{.MonthHistory.FreeDataItems.SeparatedCompact}}
	for (let i = 0; i < freeDataItems.stamps.length; i++) freeDataItems.stamps[i] *= 1000
</script>

{{end}}
{{end}}