{{define "title"}}{{.NodeIDStr}}{{end}}

{{define "node_id_info"}}
<p class="node-id-info">
	<b>Base58:</b> {{.V.String}}<br>
	<b>HEX:</b> {{nodeIDHex .V}}<br>
	<b>{{.L.Loc "Binary" "ru" "Побитно"}}:</b> {{nodeIDBin .V}}<br>
	<b>{{.L.Loc "Difficulty" "ru" "Сложность"}}:</b> {{.V.Difficulty}}
</p>
{{end}}

{{define "content"}}
<h1 class="node-id">
	{{.NodeIDStr}}
</h1>

{{if .NodeIDIsInvalid}}
<p>
	{{if .L.Is "ru"}}
	Неправильный ID ноды, ошибка: <code>{{.NodeIDDecodeErr}}</code>
	{{else}}
	Wrong node ID, error: <code>{{.NodeIDDecodeErr}}</code>
	{{end}}
</p>
<p>
	{{if .L.Is "ru"}}
	Идентификатор должен быть в виде base58-сроки (например
	<code>118UWpMCHzs6CvSgWd9BfFVjw5K9pZbJjkfZJexMtSkmKxvvAW</code>).
	{{else}}
	Node ID must be a byte58-encoded string (for example
	<code>118UWpMCHzs6CvSgWd9BfFVjw5K9pZbJjkfZJexMtSkmKxvvAW</code>).
	{{end}}
</p>
{{else if .NodeIDNotFound}}
<p>
	<span class="warn">
		{{if .L.Is "ru"}}
		Такого айди нет в базе статистики. Возможно, эта нода — новая, и не вся сеть ещё о ней знает?
		{{else}}
		This ID was not found in the statistics database. Perhaps this node is new and the whole network doesn't know about it yet?
		{{end}}
	</span>
</p>
{{template "node_id_info" .L.With .Node.ID}}
{{else}}

{{template "node_id_info" .L.With .Node.ID}}

<h2>{{.L.Loc "Statistics" "ru" "Статистика"}}</h2>

<p>
	{{$prevDate := formatDateISO .StatsPrevMonthTime}}
	{{$nextDate := formatDateISO .StatsNextMonthTime}}
	<a href="?{{.Query.EncodeWithParam "stats_from" $prevDate}}">← {{.L.DateTimeMonth .StatsPrevMonthTime}}</a>
	<b>{{.L.DateTimeMonth .StatsTimeFrom}}</b>
	<a href="?{{.Query.EncodeWithParam "stats_from" $nextDate}}">{{.L.DateTimeMonth .StatsNextMonthTime}} →</a>
</p>

<h3>{{.L.Loc "Month uptime" "ru" "Месячный аптайм"}}</h3>
<div class="month-chart" {{if not .NodeHistory.ActivityStamps}}data-off='{{.L.Loc "No data" "ru" "Нет данных"}}' {{end}}
	data-kind="node-activity-chart"></div>
{{if .NodeHistory.LastSelfParamsError}}
<p>
	{{.L.Loc "Last error" "ru" "Последняя ошибка"}}
	{{.L.DateTimeTag .NodeHistory.LastSelfParamsErrorTime}}:
	<code>{{.NodeHistory.LastSelfParamsError}}</code>
</p>
{{end}}
<p>
	<span class="dim small">
		{{.L.Loc "updated" "ru" "обновлено"}}
		{{.L.DateTimeTag .Node.SelfUpdatedAt}}, {{.L.Ago .Node.SelfUpdatedAt}}
		{{.L.Loc "ago" "ru" "назад"}}
	</span>
</p>

{{if .Node.SelfParams}}
{{if eq .Node.SelfParams.Type .NodeType_STORAGE}}
<h3>{{.L.Loc "Limits changes" "ru" "Изменения лимитов"}}</h3>
{{template "feature_disabled" .L.With nil}}
<div class="month-chart" {{if not .NodeHistory.FreeData.Stamps}}data-off='{{.L.Loc "No data" "ru" "Нет данных"}}' {{end}}
	data-kind="node-data-history-chart" data-disk-label='{{.L.Loc "disk" "ru" "диск"}}' data-bandwidth-label='{{.L.Loc "bandwidth" "ru" "трафик"}}'>
</div>
<div class="month-chart" {{if not .NodeHistory.FreeData.Stamps}}data-off='{{.L.Loc "No data" "ru" "Нет данных"}}' {{end}}
	data-kind="node-data-history-coeff-chart" data-coeff-label='{{.L.Loc "disk/bandwidth" "ru" "диск/трафик"}}'></div>

<p class="dim small">
	{{if .L.Is "ru"}}
	Последний график показывает (скорость заполнения диска) / (скорость трафика).
	В общем случае в этом графике мало смысла. Но во время теста
	(когда трафик в основном входящий, а загруженные данные редко удаляются)
	это что-то вроде эффективности загрузки: если все входящие данные сохраняются на диск, на графике будет 1.
	Если половина входящих кусочков отменяется
	(потмоу что нода не успевает достаточно быстро скачать и сохранять их все), будет 0.5, и т.д.
	{{else}}
	The last chart shows (disk filling speed) / (traffic speed).
	Generally, this chart has little meaning. But during test
	(when most of traffic is ingress and all uploaded data almost never deleted)
	it's kind of node upload efficiency: if all incoming traffic is actually got saved on disk, it'll be 1.
	If half of incoming pieces are cancelled
	(because node is not fast enough to get and save them all), it will be 0.5, etc.
	{{end}}
</p>
{{end}}
{{end}}

<h2>{{.L.Loc "Location" "ru" "Местоположение"}}</h2>
<p><span class="dim small">{{.L.Loc "Based on GeoIP" "ru" "По базе GeoIP"}}</span></p>
<p>
	{{if .Node.Location}}
	{{$lon := .Node.Location.Longitude}}
	{{$lat := .Node.Location.Latitude}}
	<a target="_blank" href="https://yandex.ru/maps/?ll={{$lon}},{{$lat}}&z=6&pt={{$lon}},{{$lat}}">
		<img width=432 height=300 style="max-width:100%; object-fit:cover" title="Yandex map static image"
			src="https://static-maps.yandex.ru/1.x/?ll={{$lon}},{{$lat}}&size=648,450&z=6&l=map&scale=1.5&pt={{$lon}},{{$lat}},comma">
	</a>
</p>
<p>
	{{.Node.Location.Country}},
	{{if .Node.Location.City}}{{.Node.Location.City}},{{end}}
	{{$lat}}, {{$lon}}
	{{else}}
	Определить не удалось.
	{{end}}
</p>

<h2>{{.L.Loc "Node params (from Kademlia)" "ru" "Параметры ноды (из Kademlia)"}}</h2>
{{if .Node.KadParams}}
<pre class="wide-block">{{formattedJSON .Node.KadParams}}</pre>
<span class="dim small">
	{{.L.Loc "updated" "ru" "обновлено"}}
	{{.L.DateTimeTag .Node.KadUpdatedAt}}, {{.L.Ago .Node.KadUpdatedAt}}
	{{.L.Loc "ago" "ru" "назад"}}
</span>
{{else}}
{{if .L.Is "ru"}}
Нет данных (нода ещё не была найдена в DHT).
{{else}}
No data (node has not yet been found in DHT).
{{end}}
{{end}}

<script>
	var nodeActivityStamps = {{.NodeHistory.ActivityStamps }}
	var freeDataItems = {{.NodeHistory.FreeData }}
	for (let i = 0; i < freeDataItems.stamps.length; i++) freeDataItems.stamps[i] *= 1000
</script>

{{end}}
{{end}}