[Unit]
Description=Storjnet HTTP server
After=network.target

[Service]
User=storj
WorkingDirectory=/home/storj/storj3stat
ExecStart=/home/storj/storj3stat/storj3stat start-http-server --env prod
Restart=on-failure

[Install]
WantedBy=multi-user.target
