.node-subnets-summary-wrap {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-around;
}
.node-subnets-summary-wrap table {
	margin-left: 24px;
	margin-right: 24px;
}

.node-subnets-table tbody td {
	text-align: right;
}
.node-subnets-table tbody tr:last-child {
	border-bottom: none;
}

.node-subnet-sizes-table tbody td:last-child {
	text-align: right;
}
.node-subnet-sizes-table tbody tr:last-child td {
	text-align: center;
}
.node-subnet-sizes-table tbody tr:last-child {
	border-bottom: none;
}

.node-ip-types-table tbody td.name {
	max-width: 320px;
}
.node-ip-types-table tbody td.type {
	text-align: center;
}
.node-ip-types-table tbody td.count {
	text-align: right;
}
.node-ip-types-table tbody tr.expanded {
	font-weight: bold;
}
.node-ip-types-table tbody tr:last-child {
	border-bottom: none;
}
