.map-wrap {
	position: relative;
	width: 100%;
	height: 384px;
	background-color: #eee;
}

.node-countries-table thead td:first-of-type {
	text-align: right;
}

.node-countries-table thead td:nth-child(3),
.node-countries-table thead td:nth-child(5),
.node-countries-table thead td:nth-child(7) {
	padding-left: 48px;
}
.node-countries-table thead td.isp {
	padding-left: 10px;
}
.node-countries-table thead td.avg .help {
	margin-right: -20px;
}

.node-countries-table tbody td:not(.name) {
	text-align: right;
}

.node-countries-table tbody tr:last-child {
	border-bottom: none;
}

.node-countries-table tbody tr:last-child td {
	text-align: center;
}
