.map-wrap {
	position: relative;
	width: 100%;
	height: 384px;
	background-color: #eee;
}

.node-countries-table td:first-child,
.node-countries-table tbody td:last-child {
	text-align: right;
}

.node-countries-table tbody tr:last-child {
	border-bottom: none;
}

.node-countries-table tbody tr:last-child td {
	text-align: center;
}

.node-countries-table .unwrap-button {
	background: none;
	border: none;
	text-decoration: underline;
	font: inherit;
	cursor: pointer;
}
