.pings-chart {
	position: relative;
	height: 40px;
	margin-bottom: 4px;
}

.pings-chart .zoom-canvas {
	position: absolute;
	pointer-events: none;
	left: 0;
	bottom: 0;
	width: 512px;
	height: 64px;
	max-width: 100%;
	/* outline: 1px solid red; */
	z-index: 1;
}
.pings-chart .zoom-canvas.touch {
	height: 96px;
}
