.user-nodes-list-with-form {
	position: relative;
	margin-bottom: 16px;
}

.user-nodes-list {
	position: relative;
	display: inline-block;
	max-width: 100%;
	min-width: 32px;
	min-height: 32px;
	overflow-x: auto;
}

.user-nodes-list .user-nodes-table thead td {
	border-bottom: 2px solid transparent;
	white-space: nowrap;
}

.user-nodes-list .node {
	/* border-bottom: 1px solid lightgray; */
	margin-bottom: 8px;
}
.user-nodes-list .node td {
	padding: 1px 5px;
}

.user-nodes-list .node .node-id {
	position: relative;
	white-space: nowrap;
	font-weight: bold;
	font-family: monospace;
	font-size: 16px;
}
.user-nodes-list .node .node-id .full {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.9);
}
.user-nodes-list .node .node-id:not(:hover) .full {
	display: none;
}
.user-nodes-list .node .node-status {
	display: inline-block;
	width: 10px;
	height: 10px;
	line-height: 16px;
	margin: 0 4px 1px 0;
	border-radius: 50%;
	box-sizing: border-box;
	background-color: darkgray;
}
.user-nodes-list .node.status-ok .node-status {
	background-color: green;
}
.user-nodes-list .node.status-warn .node-status {
	background-color: yellow;
	border: 1px solid lightgray;
}
.user-nodes-list .node.status-error .node-status {
	background-color: red;
}
.user-nodes-list .node.loading .node-status {
	background-color: transparent;
}
.user-nodes-list .node.loading .node-status::after {
	content: '⌛';
}

.user-nodes-list .node .node-ip {
	max-width: 196px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}

.user-nodes-list .node .node-neighbors {
	text-align: center;
}

.user-nodes-list .node .node-remove-button {
	color: darkred;
	font-weight: bold;
	opacity: 0.5;
	border: none;
	background: none;
}
.user-nodes-list .node .node-remove-button:hover {
	opacity: 1;
}

.node-add-form {
	position: absolute;
	display: flex;
	left: 0;
	bottom: -5px;
	box-shadow: 0 0 2px lightgray;
	background-color: rgba(230, 230, 230, 0.8);
	border-radius: 3px;
	overflow: hidden;
}

.node-add-form .buttons-wrap {
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.node-add-form .nodes-data {
	margin: 2px;
	width: 75vw;
	max-width: 640px;
	height: 64px;
}

.node-add-form.minimized .submit-button {
	padding-left: 2px;
	padding-right: 2px;
}

.node-add-form:not(:hover) {
	opacity: 0.8;
}
.node-add-form.minimized .submit-button,
.node-add-form.minimized .nodes-data {
	display: none;
}
