.pings-chart {
	position: relative;
}

.pings-chart canvas {
	width: 100%;
	height: 40px;
}

.pings-chart .legend {
	position: absolute;
	display: flex;
	/* flex-direction: row;
	flex-wrap: wrap; */
	top: 0;
	left: 24px;
	font: 9px sans-serif;
	text-shadow: 0 0 4px white;
}
