.pings-chart {
	position: relative;
	height: 40px;
	margin-bottom: 4px;
}

.pings-chart .main-canvas {
	width: 100%;
	height: 100%;
}

.pings-chart .legend {
	position: absolute;
	display: flex;
	/* flex-direction: row;
	flex-wrap: wrap; */
	top: 0;
	left: 24px;
	font: 9px sans-serif;
	text-shadow: 0 0 4px white;
}

.pings-chart .zoom-canvas {
	position: absolute;
	pointer-events: none;
	left: 0;
	bottom: 0;
	width: 512px;
	height: 64px;
	max-width: 100%;
	/* outline: 1px solid red; */
	z-index: 1;
}
.pings-chart .zoom-canvas.touch {
	height: 96px;
}
