[Unit]
Description=Storjnet HTTP server
After=network.target postgresql.service

[Service]
User=storj
WorkingDirectory=/home/storj/storjnet
Environment="SATELLITES=Local:identity|Proxy:/proxy/endpoint/path:9005:1.2.3.4"
ExecStart=/home/storj/storjnet/storjnet http --env=prod --addr=127.0.0.1:9004
Restart=on-failure

[Install]
WantedBy=multi-user.target
