.dim {
	color: darkgray;
}

.small {
	font-size: 85%;
}

table {
	border-collapse: collapse;
	margin: 4px;
}

thead {
	font-weight: bold;
	text-align: center;
}

tr {
	border-bottom: 1px solid lightgray;
}

td:not(:first-child) {
	padding: 1px 15px;
	text-align: right;
}

code {
	background-color: #e7e7e7;
	border-radius: 2px;
}

/* =================== */

html {
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}

.header,
.footer {
	width: 100%;
	background-color: #eee;
	box-shadow: 0 0 8px #ccc;
}

.header {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.header > * {
	margin: 8px 16px;
}

.header .logo {
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
}
.header .logo .logo-main {
	font-size: 130%;
}
.header .logo .logo-sub {
	font-size: 80%;
	text-align: center;
	color: #444;
}

.header .nodes-search {
	display: flex;
	flex-grow: 100;
}
.header .nodes-search input,
.header .nodes-search button {
	border: 1px solid;
	border-color: #cdc7c2 #cdc7c2 #bfb8b1;
	border-radius: 3px;
	box-sizing: border-box;
	height: 25px;
}
.header .nodes-search input[type='text'] {
	padding: 3px 10px;
	flex-grow: 100;
	max-width: 410px;
	margin-left: auto;
	width: 140px;
}
.header .nodes-search button[type='submit'] {
	display: flex;
	align-items: center;
	margin-left: 4px;
	padding: 0px 10px;
	background: linear-gradient(white 2%, #f6f5f3 4%, #edebe9);
}

.header .lang-switch {
	display: flex;
	align-items: center;
}
.header .lang-switch select {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	/* padding-right: 7px;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='5' width='8'><polyline points='1,1 4,4 7,1' fill='none' stroke='black' stroke-width='1.3' stroke-linecap='round'/></svg>");
	background-repeat: no-repeat;
	background-position: 100% 50%; */
	cursor: pointer;
	margin-left: 4px;
}
@-moz-document url-prefix() {
	/* костыль для ФФшного select'а: он рисует справа и слева от элемента лишние отступы */
	.header .lang-switch select {
		margin-left: 0;
		margin-right: -4px;
	}
}
.header .lang-switch select:hover {
	text-decoration: underline;
}
@media (max-width: 479px) {
	.header {
		flex-direction: column;
	}
	.header .nodes-search {
		align-self: stretch;
	}
	.header .lang-switch {
		position: absolute;
		top: 10px;
		right: 0;
	}
}

.footer {
	margin-top: 64px;
	padding: 8px 16px;
	box-sizing: border-box;
	font-size: 85%;
}

.content {
	position: relative;
	flex-grow: 100;
	margin: 8px;
}

/* =================== */

h1.node-id,
.node-id-info {
	word-break: break-all;
}

.month-chart {
	position: relative;
	width: 100%;
	height: 128px;
	margin-bottom: 12px;
}
.month-chart[data-off]::after {
	content: attr(data-off);
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: darkgray;
}
.month-chart:not(.ready) {
	background-color: #eee;
}
.month-chart .main-canvas {
	width: 100%;
	height: 100%;
}
.month-chart .legend {
	position: absolute;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	top: 0;
	left: 48px;
	font: 10px sans-serif;
	text-shadow: 0 0 4px white;
}
.month-chart .legend .item {
	display: flex;
	align-items: center;
	padding: 0 4px;
	background: rgba(255, 255, 255, 0.4);
}
.month-chart .legend .item .example {
	width: 12px;
	margin-right: 3px;
}

.month-chart[data-kind='node-activity-chart'] {
	height: 40px;
}
.month-chart[data-kind='node-activity-chart'] .zoom-box-canvas {
	position: absolute;
	pointer-events: none;
	left: 0;
	bottom: 0;
	width: 512px;
	height: 64px;
	max-width: 100%;
}
.month-chart[data-kind='node-activity-chart'] .zoom-box-canvas.touch {
	height: 96px;
}
